nav .navbar-brand {
  font-size: xx-large;
}
ul {
  display: inline-block;
}

nav .navbar-brand .blue {
  color: #537fbe;
}

main .form-control {
  display: inline-block;
  width: auto;
}

main {
  overflow-x: auto;
  text-align: center;
}

main img {
  max-width: 100%;
}
