{% extends "layout.html" %} {% block main %}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1 class="my-4">
        Latest Posts       {% if category %}
        <span>: {{category}}</span>
        {% endif %}
      </h1>
      {% if word %}
      <div style="text-align: left; margin-bottom: 10px;">
        <h5>Results with <strong>{{word}}:</strong></h5>
        <a href="/">Clear search</a>
      </div>
      {% endif %}
      <!-- Blog Post -->
      {% block content %} {% if posts %} {%for post in posts.items%}
      <div class="card mb-4">
        <div class="card-body" style="text-align: left;">
          <h2 class="card-title">{{post.title}}</h2>
          <h4 class="card-title">{{post.subtitle}}</h4>
          <p class="card-text">
            {{post.content[:200]}}...
          </p>
          <a href="/post/{{post.id}}" class="btn btn-primary"
            >Read More &rarr;</a
          >
          <p></p>
          {%for cat in post.categories%}
          <span style="background-color: whitesmoke; padding: 5px;"
            >{{cat.title}}</span
          >
          {%endfor%}
        </div>
        <div class="card-footer text-muted">
          Posted: {{post.date_posted.strftime("%c")}} by
          <a href="#">{{post.user.first_name}} {{post.user.last_name}}</a>
        </div>
      </div>
      {%endfor%} {% else %}
      <h1>Sorry, no posts were found.</h1>
      {% endif %} {% endblock content %}

      <!-- Pagination -->
      {% if posts.has_prev %}<a  href="{{ url_for('index', page=posts.prev_num) }}">&lt;&lt; Newer posts</a>{% else %}&lt;&lt; Newer posts{% endif %} | 
{% if posts.has_next %}<a href="{{ url_for('index', page=posts.next_num) }}">Older posts &gt;&gt;</a>{% else %}Older posts &gt;&gt;{% endif %}
    </div>

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">
      <!-- Search Widget -->
      <div class="card my-4">
        <h5 class="card-header">Search</h5>
        <div class="card-body">
          <form action="/search" method="post">
            <div class="input-group-prepend">
            <input
              type="text"
              class="form-control"
              placeholder="Search for..."
              name="word"
            />
            <button
              class="btn btn-secondary"
              type="submit"
              style="margin-left: 10px;"
            >
              Go!
            </button>
            </div>
            </form>
          </form>
        </div>
      </div>

      <!-- Categories Widget -->
      <div class="card my-4">
        <h5 class="card-header">Categories</h5>
        <div class="card-body">
          <a href="/" class="form-control" style="margin-bottom: 15px;"
          >all</a>
            {%for category in categories%}
            <form action="/posts/{{category.title}}" method="post">
              <div class="form-group">
                <input
                  class="form-control"
                  name="category"
                  type="submit"
                  value="{{category.title}}"
                />
              </div>
            </form>
            {%endfor%}
        </div>
      </div>

      <!-- Side Widget -->
      <div class="card my-4">
        <h5 class="card-header">Open to ideas</h5>
        <div class="card-body">
          Here you can write anything you wish. In case something is missing, we
          can add it.
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
