{% extends "layout.html" %} {% block main %} {% if error %}
<p class="error"><strong>Error:</strong> {{ error }}</p>
{% endif %}
<h1>ADD A POST</h1>
<form action="/add-post" method="post">
  <div class="form-group">
    <input
      autocomplete="off"
      autofocus
      class="form-control"
      name="title"
      placeholder="Title"
      type="text"
      style="width: 500px;"
    />
  </div>
  <div class="form-group">
    <input
      class="form-control"
      name="subtitle"
      placeholder="Subtitle"
      type="text"
      style="width: 500px;"
    />
  </div>
  <div class="form-group">
    <textarea
      class="form-control"
      name="content"
      placeholder="Write content here..."
      style="width: 500px; height: 500px;"
    ></textarea>
  </div>
  <div class="form-group">
    <p>Choose categories:</p>
    {%for category in categories%} {{category.title}}
    <input
      type="checkbox"
      name="category"
      value="{{ category.id }}"
      style="margin-right: 8px;"
    />
    {%endfor%}
  </div>
  <button class="btn btn-primary" type="submit">Submit</button>
</form>
{% endblock %}
