{% extends "layout.html" %} {% block main %}
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card my-4">
        <h5 class="card-header">My Profile</h5>
        <div class="card-body">
          <h5 class="card-title">{{user.first_name}} {{user.last_name}}</h5>
          <p class="card-text"></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" id="email">{{user.email}}</li>
          <li class="list-group-item" id="change-password">*********</li>
        </ul>
        <div class="card-body">
          <button
            onClick="changepassword()"
            id="password-button"
            class="btn btn-dark"
            style="margin-bottom: 10px;"
          >
            Change Password
          </button>
        </br>
          <button
            onClick="changeemail()"
            id="email-button"
            class="btn btn-dark"
          >
            Change Email
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <h1 class="my-4">
        My Posts
      </h1>
      <!-- Blog Post -->
      {%for post in posts%}
      <div class="card mb-4">
        <div class="card-body" style="text-align: left;">
          <h2 class="card-title">{{post.title}}</h2>
          <h4 class="card-title">{{post.subtitle}}</h4>
          <p class="card-text">
            {{post.content[:200]}}...
          </p>
          <a href="/post/{{post.id}}" class="btn btn-primary"
            >Read More &rarr;</a
          >
          <a href="/post/delete/{{post.id}}" class="btn btn-danger">Delete</a>
          <p></p>
          {%for cat in post.categories%}
          <span style="background-color: whitesmoke; padding: 5px;"
            >{{cat.title}}</span
          >
          {%endfor%}
        </div>
        <div class="card-footer text-muted">
          Posted: {{post.date_posted.strftime("%c")}}
        </div>
      </div>
      {%endfor%}
    </div>
  </div>
</div>
{% endblock %}
